<div class="container">
    <div class="flex mt-4 mb-10 items-center justify-center bg-[#F4EEE0] h-10 ">
        <div class="deneme mt-auto w-full sm:w-2/3 md:w-1/2  ">
          <div >
            <header class="flex items-center justify-between  py-2 px-3">
                <div>User Name: <b>Hüseyin Çoraklı</b></div>
                <div>User Role:<b>Admin</b></div>
                  <button class=" bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 hover:bg-gray-700 hover:text-white " >Set User</button>
              </header>
          </div>
        </div>
      </div>
</div>
  