<div class="container ">
   <div class="px-1 py-1">
    <div class="flex" >
          <div class="w-full mb-1"><mat-accordion class="w-3/6 ">
            <mat-expansion-panel hideToggle class="bg-teal-900">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Create Product
                </mat-panel-title>
                <mat-panel-description>
                   [Click to close or open]
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-create (createdProduct)="createdProduct($event)" ></app-create>
            </mat-expansion-panel>
          </mat-accordion></div>
         
    </div>
    <div><app-list></app-list></div>
   </div>
</div>
