<div class="container">
   <div class="px-1 py-1">
    <div >
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Create Product
                </mat-panel-title>
                <mat-panel-description>
                   [Click to close or open]
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-create></app-create>
            </mat-expansion-panel>
          </mat-accordion>
          
    </div>
    <div><app-list></app-list></div>
   </div>
</div>
