<mat-list role="list" class="flex flex-col">
  <mat-list-item role="list"
    ><a class="text-black font-medium flex items-center" routerLink="/admin"
      ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="dashboard" ></mat-icon><span class="hidden md:inline item-text">Dashboard</span></a
    ></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a class="text-black font-medium flex items-center" routerLink="products"
      ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="assignment" ></mat-icon><span class="hidden md:inline item-text">Product</span></a
    ></mat-list-item
  >
</mat-list>
